{% load static %}
<head>
  <title>Yahtzee!</title>
  <link rel="stylesheet" href="{% static 'yahtzee/resources/style.css' %}" />
</head>

<body>
  <div class="title_bar">
    <h1>Yahtzee!</h1>
    <button class="btn btn-modal">About</button>
  </div>
  <div class="modal hidden">
    <div class="modal_text">
      <h3 class="modal_title">Yahtzee V2 - Overview</h3>
      <button class="modal_close">X</button>
      <p>
        This updated version of yahtzee is written as a Django (Python)
        application. This incorporates a database, allowing games to be saved
        and returned to at a later time. The game is served to the browser via
        html templates, modeled on V1 of the game, but with data taken from the
        database.
      </p>
      <p>
        Players can:<br />- log in as a user (of the jakjarvis apps suite) or
        play as a Guest<br />- setup a game between two registered users<br />-
        return to the unique url for their game at any time
      </p>
      <a href="https://github.com/jakjarvis/jakjarvis_apps/tree/main/yahtzee"
        >Source Code</a
      >
      <p>
        As it is best practice that all rendered data comes from the source
        database, the webpage is reloaded each time a new score is added,
        resulting in page flashing. To remove this issue, I created a React
        Frontent for the application, so that only the relevent DOM elements
        were updated each time:
      </p>
      <a href="yahtzee.jakjarvis.com/setup">Yahtzee V3</a>
    </div>
  </div>
  <div class="game_board">
    <div class="score_zone">
      <table class="score_card">
        <tr class="heading-line">
          <th>Catagory</th>
          <th>Scoring</th>
          <th class="player_name player1_name">{{ player1.username }}</th>
          <th class="player_name player2_name">{{ player2.username }}</th>
        </tr>
        <tr class="heading-line">
          <th>Top Section</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr class="score-line">
          <th>1s</th>
          <th class="scoring">Sum of all ones thrown</th>
          <th class="ones onesP1"></th>
          <th class="ones onesP2"></th>
        </tr>
        <tr class="score-line">
          <th>2s</th>
          <th class="scoring">Sum of all twos thrown</th>
          <th class="score twosP1"></th>
          <th class="score twosP2"></th>
        </tr>
        <tr class="score-line">
          <th>3s</th>
          <th class="scoring">Sum of all threes thrown</th>
          <th class="score threesP1"></th>
          <th class="score threesP2"></th>
        </tr>
        <tr class="score-line">
          <th>4s</th>
          <th class="scoring">Sum of all fours thrown</th>
          <th class="score foursP1"></th>
          <th class="score foursP2"></th>
        </tr>
        <tr class="score-line">
          <th>5s</th>
          <th class="scoring">Sum of all fives thrown</th>
          <th class="score fivesP1"></th>
          <th class="score fivesP2"></th>
        </tr>
        <tr class="score-line">
          <th>6s</th>
          <th class="scoring">Sum of all sixes thrown</th>
          <th class="score sixesP1"></th>
          <th class="score sixesP2"></th>
        </tr>
        <tr class="total-line">
          <th>Score</th>
          <th class="scoring">--></th>
          <th class="score top_initialP1"></th>
          <th class="score top_initialP2"></th>
        </tr>
        <tr class="total-line">
          <th>Bonus</th>
          <th class="scoring">If top section score >= 63</th>
          <th class="score top_bonusP1"></th>
          <th class="score top_bonusP2"></th>
        </tr>
        <tr class="total-line">
          <th>Total</th>
          <th class="scoring">--></th>
          <th class="score top_totalP1"></th>
          <th class="score top_totalP2"></th>
        </tr>
        <tr class="heading-line">
          <th>Bottom Section</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr class="score-line">
          <th>3 of a kind</th>
          <th class="scoring">Total of all dice</th>
          <th class="score kind_3P1"></th>
          <th class="score kind_3P2"></th>
        </tr>
        <tr class="score-line">
          <th>4 of a kind</th>
          <th class="scoring">Total of all dice</th>
          <th class="score kind_4P1"></th>
          <th class="score kind_4P2"></th>
        </tr>
        <tr class="score-line">
          <th>Full House</th>
          <th class="scoring">Score 25</th>
          <th class="score full_houseP1"></th>
          <th class="score full_houseP2"></th>
        </tr>
        <tr class="score-line">
          <th>Short Straight</th>
          <th class="scoring">Score 30</th>
          <th class="score short_straightP1"></th>
          <th class="score short_straightP2"></th>
        </tr>
        <tr class="score-line">
          <th>Long Straight</th>
          <th class="scoring">Score 40</th>
          <th class="score long_straightP1"></th>
          <th class="score long_straightP2"></th>
        </tr>
        <tr class="score-line">
          <th>Yahtzee</th>
          <th class="scoring">Score 50</th>
          <th class="score yahtzeeP1"></th>
          <th class="score yahtzeeP2"></th>
        </tr>
        <tr class="score-line">
          <th>Chance</th>
          <th class="scoring">Total of all dice</th>
          <th class="score chanceP1"></th>
          <th class="score chanceP2"></th>
        </tr>
        <tr class="total-line">
          <th>Bottom Section Total</th>
          <th class="scoring">--></th>
          <th class="score bottom_totalP1"></th>
          <th class="score bottom_totalP2"></th>
        </tr>
        <tr class="total-line">
          <th>Top Section Total</th>
          <th class="scoring">--></th>
          <th class="score top_totalP1_repeat"></th>
          <th class="score top_totalP2_repeat"></th>
        </tr>
        <tr class="grand-total-line">
          <th>Grand Total</th>
          <th class="scoring">--></th>
          <th class="score grand_totalP1"></th>
          <th class="score grand_totalP2"></th>
        </tr>
      </table>
    </div>
    <div class="zone middle">
      <div class="dice_mat">
        <div class="mat mat0">
          <img
            src="{% static 'yahtzee/resources/images/dice-1.png' %}"
            alt="Dice 0"
            class="dice dice0 hidden"
          />
        </div>
        <div class="mat mat1">
          <img
            src="{% static 'yahtzee/resources/images/dice-2.png' %}"
            alt="Dice 1"
            class="dice dice1 hidden"
          />
        </div>
        <div class="mat mat2">
          <img
            src="{% static 'yahtzee/resources/images/dice-3.png' %}"
            alt="Dice 2"
            class="dice dice2 hidden"
          />
        </div>
        <div class="mat mat3">
          <img
            src="{% static 'yahtzee/resources/images/dice-4.png' %}"
            alt="Dice 3"
            class="dice dice3 hidden"
          />
        </div>
        <div class="mat mat4">
          <img
            src="{% static 'yahtzee/resources/images/dice-5.png' %}"
            alt="Dice 4"
            class="dice dice4 hidden"
          />
        </div>
      </div>
      <div class="buttons">
        <button class="btn btn-roll">Roll</button>
        <button class="btn btn-reset hidden">Play Again?</button>
      </div>
      <div class="rolls-counter">
        <p class="rolls-text">Rolls remaining:</p>
        <p class="rolls-remaining">3</p>
      </div>
    </div>
    <form method="post" id="submit_form">
      {% csrf_token %}
      <input type="text" id="field" name="field" class="hidden" />
      <input type="number" id="scores_id" name="scores_id" class="hidden" />
      <input type="number" id="score" name="score" class="hidden" />
      <input
        type="text"
        id="active_player"
        name="active_player"
        class="hidden"
      />
      <input
        type="number"
        id="turns_remaining"
        name="turns_remaining"
        class="hidden"
      />
    </form>
  </div>
  <script>
    const player1Name = "{{ player1.username }}";
    const player2Name = "{{ player2.username }}";
    const scores1Id = "{{ scores1.id }}";
    const scores2Id = "{{ scores2.id }}";
    let activePlayerRef = "{{ active_player }}";
    let turnsRemaining = "{{ turns_remaining }}";
    var dice1src = "{% static 'yahtzee/resources/images/dice-1.png' %}";
    var dice2src = "{% static 'yahtzee/resources/images/dice-2.png' %}";
    var dice3src = "{% static 'yahtzee/resources/images/dice-3.png' %}";
    var dice4src = "{% static 'yahtzee/resources/images/dice-4.png' %}";
    var dice5src = "{% static 'yahtzee/resources/images/dice-5.png' %}";
    var dice6src = "{% static 'yahtzee/resources/images/dice-6.png' %}";
  </script>
  <script src="{% static 'yahtzee/resources/script.js' %}"></script>
  <script>
    const removeNones = (score) => {
      if (score == "None") {
        return "";
      } else {
        return score;
      }
    };
    const displayScores1 = () => {
      player1.onesScore.textContent = removeNones("{{ scores1.ones }}");
      player1.twosScore.textContent = removeNones("{{ scores1.twos }}");
      player1.threesScore.textContent = removeNones("{{ scores1.threes }}");
      player1.foursScore.textContent = removeNones("{{ scores1.fours }}");
      player1.fivesScore.textContent = removeNones("{{ scores1.fives }}");
      player1.sixesScore.textContent = removeNones("{{ scores1.sixes }}");

      /* Bottom score fields */
      player1.kind3Score.textContent = removeNones("{{ scores1.three_kind }}");
      player1.kind4Score.textContent = removeNones("{{ scores1.four_kind }}");
      player1.houseScore.textContent = removeNones("{{ scores1.full_house }}");
      player1.shortScore.textContent = removeNones(
        "{{ scores1.short_straight }}"
      );
      player1.longScore.textContent = removeNones(
        "{{ scores1.long_straight }}"
      );
      player1.yahtzeeScore.textContent = removeNones("{{ scores1.yahtzee }}");
      player1.chanceScore.textContent = removeNones("{{ scores1.chance }}");

      /* Total score fields */
      player1.topInitial.textContent = removeNones("{{ scores1.top_score }}");
      player1.topBonus.textContent = removeNones("{{ scores1.bonus }}");
      player1.topTotal.textContent = removeNones("{{ scores1.top_total }}");
      player1.topTotalRepeat.textContent = removeNones(
        "{{ scores1.top_total }}"
      );
      player1.bottomTotal.textContent = removeNones(
        "{{ scores1.bottom_total }}"
      );
      player1.grandTotal.textContent = removeNones("{{ scores1.grand_total }}");
    };

    const displayScores2 = () => {
      player2.onesScore.textContent = removeNones("{{ scores2.ones }}");
      player2.twosScore.textContent = removeNones("{{ scores2.twos }}");
      player2.threesScore.textContent = removeNones("{{ scores2.threes }}");
      player2.foursScore.textContent = removeNones("{{ scores2.fours }}");
      player2.fivesScore.textContent = removeNones("{{ scores2.fives }}");
      player2.sixesScore.textContent = removeNones("{{ scores2.sixes }}");

      /* Bottom score fields */
      player2.kind3Score.textContent = removeNones("{{ scores2.three_kind }}");
      player2.kind4Score.textContent = removeNones("{{ scores2.four_kind }}");
      player2.houseScore.textContent = removeNones("{{ scores2.full_house }}");
      player2.shortScore.textContent = removeNones(
        "{{ scores2.short_straight }}"
      );
      player2.longScore.textContent = removeNones(
        "{{ scores2.long_straight }}"
      );
      player2.yahtzeeScore.textContent = removeNones("{{ scores2.yahtzee }}");
      player2.chanceScore.textContent = removeNones("{{ scores2.chance }}");

      /* Total score fields */
      player2.topInitial.textContent = removeNones("{{ scores2.top_score }}");
      player2.topBonus.textContent = removeNones("{{ scores2.bonus }}");
      player2.topTotal.textContent = removeNones("{{ scores2.top_total }}");
      player2.topTotalRepeat.textContent = removeNones(
        "{{ scores2.top_total }}"
      );
      player2.bottomTotal.textContent = removeNones(
        "{{ scores2.bottom_total }}"
      );
      player2.grandTotal.textContent = removeNones("{{ scores2.grand_total }}");
    };

    window.onload = function () {
      displayScores1();
      displayScores2();
      eval(activePlayer).nameEl.classList.add("active");
      console.log("Turns remianing: ", turnsRemaining);
    };
  </script>
</body>
