{% extends 'stock/base.html' %}

{% block content %}

<div>
    <h2>Stock App - Forked version</h2>

    <p>This app allows the user to input their stock transactions,
        and will return information about their portfolio.
        It is build in Django, but uses functionality from Pandas
        to retrieve and manipulate stock data in the back-end
        and Plotly/Dash to present graphical information in an
        interactive and user friendly way.
        The styling is largely performed using Bootstrap CSS.</p>

    <h4>Please Sign Up or Log In to start using the App.</h4>
</div>

{% endblock %}