{% extends 'stock/base.html' %}

{% load plotly_dash %}

{% block content %}
<div class="text-start">
    <h3>Transaction list</h3>
    <ul>
        {% for stock in stocks %}
        <li>
            <a href="{% url 'viewstock' stock.id %}">
                {{ stock.ticker }} - {{ stock.type }} - {{ stock.volume }} units - {{ stock.date }}
            </a>
        </li>
        {% endfor %}
        {% for dividend in dividends %}
        <li>
            <a href="{% url 'viewdividend' dividend.id %}">
                {{ dividend.ticker }} - {{ dividend.type }} - {{ dividend.volume }} units - {{ dividend.date }}
            </a>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'createstock' %}" class="btn btn-primary d-inline">Add Transaction</a>
    <a href="{% url 'createdividend' %}" class="btn btn-primary d-inline">Add Dividend</a>
    <a href="{% url 'portfolio' %}" class="btn btn-primary d-inline">View Portfolio</a>
</div>
<br>
<div class="container">
  <h3 class="text-center">Transactions data</h3><br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Stock</th>
        <th>Total_held</th>
        <th>Av_Buy_Price</th>
        <th>Total_Spent</th>
        <th>Total_Return</th>
        <th>Current Value</th>
      </tr>
    </thead>
    <tbody>
    <!-- jinja2 Technique -->
    {% if data %}
    {% for i in data %}
      <tr>
        <td>{{i.Ticker}}</td>
        <td>{{i.Total_held}}</td>
        <td>{{i.Av_Buy_Price}}</td>
        <td>{{i.Total_Spent}}</td>
        <td>{{i.Total_Return}}</td>
        <td>{{i.Current_Value}}</td>
      </tr>
    {% endfor %}
    {% endif %}
    </tbody>
  </table>
</div>

{% endblock %}