{% extends 'stock/base.html' %}

{%load plotly_dash%}

{% block content %}
<div style = "border-radius:5px 5px 0 0; height:550px">
  <div style = "margin:10px 10px 0 10px">
    <h3>My Portfolio</h3>
    <a href="{% url 'createstock' %}" class="btn btn-primary">Add Transaction</a>
    <a href="{% url 'overview' %}" class="btn btn-primary">View Transactions</a>
  </div>
  <div>
    <div class="{%plotly_class name='ticker'%}">
      {% plotly_app ratio=1 name="ticker" initial_arguments=stock_ticker %}
    </div>
  </div>
</div>
<div style="border-radius:0 0 5px 5px">
  <table class="table table-light table-striped" style="padding:0 10px 0 10px">
    <thead>
      <tr>
        <th>Stock</th>
        <th>Total_held</th>
        <th>Av_Buy_Price</th>
        <th>Total_Spent</th>
        <th>Total_Return</th>
        <th>Current Value</th>
        <th>Current P/L</th>
        <th>Current % Gain</th>
      </tr>
    </thead>
    <tbody>
    <!-- jinja2 Technique -->
    {% if data %}
    {% for i in data %}
      <tr>
        <td>{{i.Ticker}}</td>
        <td>{{i.Total_held}}</td>
        <td>{{i.Av_Buy_Price}}</td>
        <td>{{i.Total_Spent}}</td>
        <td>{{i.Total_Return}}</td>
        <td>{{i.Current_Value}}</td>
        <td>{{i.Total_PL}}</td>
        <td>{{i.Gain}}</td>
      </tr>
    {% endfor %}
    {% endif %}
    </tbody>
  </table>
</div>

{% endblock %}