{% extends 'stock/base.html' %}

{% block content %}

{{ error }}

{{ stock.title }}
<div class="text-start">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success d-inline">Save</button>
        <form method="POST" action="{% url 'deletestock' stock.id %}" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </form>
    <a href="{% url 'portfolio' %}" class="btn btn-primary d-inline">Return to portfolio</a>
</div>
{% endblock %}